:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer{ 
   width: 180px; /* width:150px */
}
mat-drawer-container{
    height: 100%;
    /* overflow: auto; */
}
mat-drawer-content{
    padding: 20px;
}

/* ::-webkit-scrollbar-thumbchrome
{
    background: red !important;
}
::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
  
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.26) !important;
  } */