:host {
    display: flex;
    flex-direction: column;
    outline: none;
    width: 100%;
  }

a.mat-list-item {
    padding: 0 0 0 0 ;
    display: flex;
    width: auto;  
}

a.mat-list-item.expanded{
  font-weight: bold;
  /* color:white;
  background-color: #5f6368;  */
}


